* {
    margin: 0%;
    background-color: rgb(78, 119, 15);
}

h1 {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: hwb(56 72% 1%);
    margin-top: 3%;
    margin-bottom: 3%;
}

nav {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 2%;
    }
  
img {
    border-radius: 30px;
    background-position: left top;
    background-repeat: repeat;
    padding: 4%;
    width: 275px;
    height: 175px;
    justify-content: center;
}

p {
    color: antiquewhite;
    margin-left: 10%;
    margin-right: 10%;
    text-align:center;
    padding-top: 3%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 250px;
    height: 60px;
    background-image: url("images/logo.png");
    background-size: cover;
    background-position: center;
    margin-left: 21%;
    margin-top: 5%;
  }

  .containerlocatie {
    width: 250px;
    height: 60px;
    background-image: url("images/locatie.png");
    background-size: cover;
    background-position: center;
    margin-left: 21%;
    margin-top: 5%;
  }

  .containerinfo {
    width: 260px;
    height: 60px;
    background-image: url("images/algemeneinfo.png");
    background-size: cover;
    background-position: center;
    margin-left: 21%;
    margin-top: 5%;
  }